services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:10.11.2
    ports:
      - "127.0.0.1:53539:8096"
    volumes:
      - {{ HM_DATA_DIR }}/jellyfin/config/config:/config
      - {{ HM_CACHE_DIR }}/jellyfin/cache:/cache
      - {{ HM_MEDIA_DIR }}:/data/:ro
    restart: 'unless-stopped'
    environment:
      - JELLYFIN_PublishedServerUrl
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:5.1.2
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - WEBUI_PORT=8080
    volumes:
      - {{ HM_DATA_DIR }}/qbittorrent:/config
      - {{ HM_MEDIA_DIR }}:/downloads
    ports:
      - "127.0.0.1:35944:8080"
      - "127.0.0.1:35945:6688"
      - "127.0.0.1:35945:6881/udp"
    restart: 'unless-stopped'
  sonarr:
    image: lscr.io/linuxserver/sonarr:4.0.16
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - {{ HM_DATA_DIR }}/sonarr:/config
      - {{ HM_MEDIA_DIR }}:/media
    ports:
      - "127.0.0.1:10087:8989"
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:2.1.5
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - {{ HM_DATA_DIR }}/prowlarr:/config
    ports:
      - "127.0.0.1:57045:9696"
  radarr:
    image: lscr.io/linuxserver/radarr:5.28.0
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - {{ HM_DATA_DIR }}/radarr:/config
      - {{ HM_MEDIA_DIR }}:/media
    ports:
      - "127.0.0.1:59982:7878"
  readarr:
    image: lscr.io/linuxserver/readarr:0.4.18-develop
    container_name: readarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - {{ HM_DATA_DIR }}/readarr:/config
      - {{ HM_MEDIA_DIR }}:/media
    ports:
      - "127.0.0.1:59983:8787"
    restart: unless-stopped
  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:4.5.5
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - {{ HM_DATA_DIR }}/sabnzbd:/config
      - {{ HM_MEDIA_DIR }}:/downloads
    ports:
      - "127.0.0.1:40184:8080"
  bazarr:
    image: lscr.io/linuxserver/bazarr:1.5.3
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - {{ HM_DATA_DIR }}/bazarr:/config
      - {{ HM_MEDIA_DIR }}:/media
    ports:
      - "127.0.0.1:10044:6767"
  recyclarr:
    image: ghcr.io/recyclarr/recyclarr:6.0.2
    volumes:
      - {{ HM_DATA_DIR }}/recyclarr:/config
    environment:
      - TZ=Etc/UTC
  jellyseerr:
    image: ghcr.io/fallenbagel/jellyseerr:latest
    init: true
    environment:
      - LOG_LEVEL=debug
      - TZ=Etc/UTC
      - PORT=5055 #optional
    ports:
      - "127.0.0.1:37809:5055"
    volumes:
      - {{ HM_DATA_DIR }}/seerr:/app/config
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
    restart: unless-stopped
  overseerr:
    image: lscr.io/linuxserver/overseerr:1.34.0
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    ports:
      - "127.0.0.1:36882:5055"
    volumes:
      - {{ HM_DATA_DIR }}/overseerr:/config
  plex:
    image: plexinc/pms-docker:1.41.5.9522-a96edc606
    restart: unless-stopped
    ports:
      - "127.0.0.1:32400:32400/tcp"
    environment:
      - TZ=Etc/UTC
      - PLEX_CLAIM
      - ADVERTISE_IP
      - HTTP_PROXY
      - HTTPS_PROXY
      - NO_PROXY
    volumes:
      - {{ HM_DATA_DIR }}/plex:/config
      - {{ HM_CACHE_DIR }}/plex/transcode:/transcode
      - {{ HM_CACHE_DIR }}/plex/cache:/cache
      - {{ HM_MEDIA_DIR }}:/data
  tautulli:
    image: lscr.io/linuxserver/tautulli:2.16.0
    restart: unless-stopped
    volumes:
      - {{ HM_DATA_DIR }}/tautulli:/config
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    ports:
      - "127.0.0.1:44011:8181"
